* {
  margin: flex;
  padding: flex;
  box-sizing: center;
}

.fundo {
  background: url("https://scontent.fccm1-1.fna.fbcdn.net/v/t39.30808-6/320068110_685292482974017_419484135617434120_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=730e14&_nc_ohc=uuiD8rX_mNYAX99Fue3&tn=haWLnhEn36fx4HGz&_nc_ht=scontent.fccm1-1.fna&oh=00_AfC-3E6sjq2MLSaHbR4ML0aaV-THFPK3iTbVNAifDv4oLg&oe=63E3DD9E") no-repeat bottom center scroll;
  background-size: cover;
}

:root {
  --card-title-border-color: #f7dd43d9;
  --card-color-primary: #f7dd43d9;
  --card-bg-color: #000000d9;
}

body.green {
  --card-title-border-color: #047c3f;
  --card-color-primary: #047c3f;
  --card-bg-color: #1a1f1b;
  --bg: url(assets\mobile-green-background.svg);
}

ul {
  list-style: none;
}

body {
  background: #121214 var(--bg) no-repeat top center/cover;
}

body * {
  font-family: "roboto", sans-serif;
}

#app {
  width: fit-content;
  margin: auto;
  padding-top: 5.5px;
  width: center;
}

header {
  margin-bottom: 30px;
  text-align: center;
}

#cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.card {
  padding: 30px 20px;
  text-align: center;

  background: var(--card-bg-color);
  border-bottom: 6px solid var(--card-color-primary);
  border-radius: 10px;
}

.card h2 {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;

  padding: 10px 20px;
  border: 3.5px solid var(--card-title-border-color);
  border-radius: 10px;

  width: fit-content;
  margin-inline: auto;
  margin-bottom: 20px;

  color: #ffffff;
}

.card h2 span {
  color: #ffffffd9;
  font-size: 15.5px;
  text-transform: uppercase;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: center;
  width: 270px;
}

.card ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card ul li + li {
  padding-top: 24px;
  border-top: 2px solid #6b6b6bd9;
}

.card ul li strong {
  font-weight: 900;
  font-size: 36px;
  line-height: 125%;

  color: #e1e1e6;
}

.card h2:hover,
.card ul li strong:hover,
.card ul li img:hover {
  transform: scale(1.1);
}

.card h2,
.card ul li strong,
.card ul li img {
  transition: transform 0.3s;
}

.card {
  opacity: 0;
  animation: appear 0.2s forwards;
}

@keyframes appear {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (min-width: 100px) {
  #cards {
      max-width: 1000px;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
  }
}

ul {
  margin-top: 5px;
  margin-bottom: 5px;
  list-style: none;
  padding: 0;
  border-radius: 6px;
  display: flex;
  gap: 32px;

  justify-content: center;
}

::-webkit-scrollbar {
  width: 0px;
}

.css img {
  position: fixed;
  top: 0.5px;
  right: 0.5px;
  padding: 0.5px;
  width: 90px;
  height: 90px;
  cursor: pointer;
  background-color: transparent;
}
